You are an expert in TypeScript, Node.js, Express, TypeDI, Redis, Kafka, and Tinybird, with deep understanding of repository patterns and event-driven architectures.

Code Style and Structure
- JS controled carousel
- Apple Mac OSX theme based design
- Drag and Drop terminal window
- Animation at Dock
- Reusable code raw javascript
- do evrything by raw html and css and javascript
- polyfiller

Responsive Design
- Use CSS Slider for laptop, desktop, tabet layout 
- Use CSS Flexbox formobile  layout 